# Test scores of students

## Task 1

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("DS1_C4_S4_Test_Scores_Data_Practice.csv")

In [3]:
data

,school,school_setting,school_type,classroom,teaching_method,student_id,gender,tuitionfee_waiver,test1,test2
0,ANKYI,Urban,Non-public,6OL,Standard,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,74LOE,Male,Does not qualify,64.0,76.0
...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,T8LSK,Female,Does not qualify,39.0,55.0
2129,ZOWMK,Urban,Public,ZBH,Standard,VNP26,Female,Qualifies for reduced/free,38.0,46.0
2130,ZOWMK,Urban,Public,ZBH,Standard,YDR1Z,Female,Qualifies for reduced/free,45.0,51.0
2131,ZOWMK,Urban,Public,ZBH,Standard,YUEIH,Male,Qualifies for reduced/free,46.0,53.0
2132,ZOWMK,Urban,Public,ZBH,Standard,ZVCQ8,Male,Qualifies for reduced/free,41.0,48.0

In [4]:
data.isnull().sum()

school                0
school_setting        0
school_type           0
classroom             0
teaching_method       0
student_id            0
gender               10
tuitionfee_waiver     0
test1                 4
test2                 4
dtype: int64

In [5]:
data["gender"].value_counts()

Male      1071
Female    1052
Name: gender, dtype: int64

In [6]:
data["gender"]=data["gender"].fillna("Male")

In [7]:
a=data["test1"].mean()
a

54.96195396899953

In [8]:
data["test1"] = data["test1"].fillna(a)

In [9]:
b = data["test2"].median()
b

68.0

In [10]:
data["test2"] =data["test2"].fillna(b)

In [11]:
data.isnull().sum()

school               0
school_setting       0
school_type          0
classroom            0
teaching_method      0
student_id           0
gender               0
tuitionfee_waiver    0
test1                0
test2                0
dtype: int64

Conclusion - Loaded the data and it is found that the null values in the data are being replaced by mean,median and mode.

## Task 2

In [12]:
data.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
2128    False
2129    False
2130    False
2131    False
2132    False
Length: 2133, dtype: bool

In [13]:
df_without_dup = data.drop_duplicates()
df_without_dup

,school,school_setting,school_type,classroom,teaching_method,student_id,gender,tuitionfee_waiver,test1,test2
0,ANKYI,Urban,Non-public,6OL,Standard,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,74LOE,Male,Does not qualify,64.0,76.0
...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,T8LSK,Female,Does not qualify,39.0,55.0
2129,ZOWMK,Urban,Public,ZBH,Standard,VNP26,Female,Qualifies for reduced/free,38.0,46.0
2130,ZOWMK,Urban,Public,ZBH,Standard,YDR1Z,Female,Qualifies for reduced/free,45.0,51.0
2131,ZOWMK,Urban,Public,ZBH,Standard,YUEIH,Male,Qualifies for reduced/free,46.0,53.0
2132,ZOWMK,Urban,Public,ZBH,Standard,ZVCQ8,Male,Qualifies for reduced/free,41.0,48.0

Conclusion - The data does not have any duplicated rows in it

## Task 3

In [14]:
data["tuitionfee_waiver"] = data["tuitionfee_waiver"].str.replace(r"Does not qualify","No")

In [15]:
data["tuitionfee_waiver"] = data["tuitionfee_waiver"].str.replace(r"Qualifies for reduced/free","Yes")

In [16]:
data

,school,school_setting,school_type,classroom,teaching_method,student_id,gender,tuitionfee_waiver,test1,test2
0,ANKYI,Urban,Non-public,6OL,Standard,2FHT3,Female,No,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,3JIVH,Female,No,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,3XOWE,Male,No,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,556O0,Female,No,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,74LOE,Male,No,64.0,76.0
...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,T8LSK,Female,No,39.0,55.0
2129,ZOWMK,Urban,Public,ZBH,Standard,VNP26,Female,Yes,38.0,46.0
2130,ZOWMK,Urban,Public,ZBH,Standard,YDR1Z,Female,Yes,45.0,51.0
2131,ZOWMK,Urban,Public,ZBH,Standard,YUEIH,Male,Yes,46.0,53.0
2132,ZOWMK,Urban,Public,ZBH,Standard,ZVCQ8,Male,Yes,41.0,48.0

Conclusion - In a column named tuitionfee_waiver the values Does not qualify and Qualifies for reduced/freeare replaced as NO and Yes

## Task 4

In [17]:
data2 = data.groupby(["school"])

In [18]:
data2

In [19]:
for x,y in data2:
    print(x)
    print(y)

ANKYI
   school school_setting school_type classroom teaching_method student_id  \
0   ANKYI          Urban  Non-public       6OL        Standard      2FHT3
1   ANKYI          Urban  Non-public       6OL        Standard      3JIVH
2   ANKYI          Urban  Non-public       6OL        Standard      3XOWE
3   ANKYI          Urban  Non-public       6OL        Standard      556O0
4   ANKYI          Urban  Non-public       6OL        Standard      74LOE
5   ANKYI          Urban  Non-public       6OL        Standard      7YZO8
6   ANKYI          Urban  Non-public       6OL        Standard      9KMZD
7   ANKYI          Urban  Non-public       6OL        Standard      9USQK
8   ANKYI          Urban  Non-public       6OL        Standard      CS5QP
9   ANKYI          Urban  Non-public       6OL        Standard      D6HT8
10  ANKYI          Urban  Non-public       6OL        Standard      DZMKU
11  ANKYI          Urban  Non-public       6OL        Standard      FH7B9
12  ANKYI          Urban  Non-public       6OL        Standard      JI9VG
13  ANKYI          Urban  Non-public       6OL        Standard      JQM2W
14  ANKYI          Urban  Non-public       6OL        Standard      MEUC4
15  ANKYI          Urban  Non-public       6OL        Standard      R4U8H
16  ANKYI          Urban  Non-public       6OL        Standard      TH7KI
17  ANKYI          Urban  Non-public       6OL        Standard      U1FV7
18  ANKYI          Urban  Non-public       6OL        Standard      WC5I6
19  ANKYI          Urban  Non-public       6OL        Standard      ZBQ4T
20  ANKYI          Urban  Non-public       ZNS        Standard      0CRO6
21  ANKYI          Urban  Non-public       ZNS        Standard      1QMDI
22  ANKYI          Urban  Non-public       ZNS        Standard      3CFUK
23  ANKYI          Urban  Non-public       ZNS        Standard      447O0
24  ANKYI          Urban  Non-public       ZNS        Standard      4IDEM
25  ANKYI          Urban  Non-public       ZNS        Standard      5UQNP
26  ANKYI          Urban  Non-public       ZNS        Standard      AV95M
27  ANKYI          Urban  Non-public       ZNS        Standard      BX6I6
28  ANKYI          Urban  Non-public       ZNS        Standard      EYFXR
29  ANKYI          Urban  Non-public       ZNS        Standard      FFC9M
30  ANKYI          Urban  Non-public       ZNS        Standard      GGT4A
31  ANKYI          Urban  Non-public       ZNS        Standard      HRZOJ
32  ANKYI          Urban  Non-public       ZNS        Standard      IFC62
33  ANKYI          Urban  Non-public       ZNS        Standard      LLQI3
34  ANKYI          Urban  Non-public       ZNS        Standard      OCJE3
35  ANKYI          Urban  Non-public       ZNS        Standard      OGW1F
36  ANKYI          Urban  Non-public       ZNS        Standard      Q5QRY
37  ANKYI          Urban  Non-public       ZNS        Standard      TJRIV
38  ANKYI          Urban  Non-public       ZNS        Standard      U24U5
39  ANKYI          Urban  Non-public       ZNS        Standard      VKX2N
40  ANKYI          Urban  Non-public       ZNS        Standard      ZTROF

    gender tuitionfee_waiver  test1  test2
0   Female                No   62.0   72.0
1   Female                No   66.0   79.0
2     Male                No   64.0   76.0
3   Female                No   61.0   77.0
4     Male                No   64.0   76.0
5   Female                No   66.0   74.0
6     Male                No   63.0   75.0
7   Female                No   63.0   72.0
8     Male                No   64.0   77.0
9   Female                No   61.0   72.0
10    Male                No   61.0   73.0
11    Male                No   64.0   74.0
12    Male                No   66.0   78.0
13  Female                No   60.0   71.0
14  Female                No   64.0   77.0
15    Male                No   64.0   73.0
16    Male                No   63.0   70.0
17    Male                No   67.0   73.0
18  Female                No   63.0   71.0
19    Male                No   64.0   73.0
20    Male                No   60.0   68.0
21    Male                No   60.0   70.0
22    Male                No   57.0   66.0
23    Male                No   57.0   70.0
24  Female              Yes    56.0   65.0
25    Male                No   58.0   67.0
26  Female                No   60.0   70.0
27  Female                No   60.0   67.0
28    Male                No   54.0   63.0
29    Male                No   60.0   75.0
30    Male                No   58.0   66.0
31  Female                No   66.0   71.0
32    Male                No   60.0   76.0
33  Female                No   59.0   69.0
34  Female                No   57.0   69.0
35  Female                No   60.0   68.0
36  Female                No   61.0   71.0
37  Female                No   61.0   66.0
38  Female                No   59.0   69.0
39  Female                No   62.0   72.0
40    Male                No   60.0   66.0
CCAAW
    school school_setting school_type classroom teaching_method student_id  \
41   CCAAW       Suburban  Non-public       2B1    Experimental      1IALS
42   CCAAW       Suburban  Non-public       2B1    Experimental      5NDXD
43   CCAAW       Suburban  Non-public       2B1    Experimental      6DCTV
44   CCAAW       Suburban  Non-public       2B1    Experimental      6OB0S
45   CCAAW       Suburban  Non-public       2B1    Experimental      AITPY
..     ...            ...         ...       ...             ...        ...
145  CCAAW       Suburban  Non-public       UWK        Standard      QZI3R
146  CCAAW       Suburban  Non-public       UWK        Standard      RYJH1
147  CCAAW       Suburban  Non-public       UWK        Standard      TKWII
148  CCAAW       Suburban  Non-public       UWK        Standard      X6ZCW
149  CCAAW       Suburban  Non-public       UWK        Standard      ZDLQB

     gender tuitionfee_waiver  test1  test2
41   Female                No   61.0   75.0
42     Male              Yes    58.0   78.0
43   Female              Yes    64.0   82.0
44     Male              Yes    58.0   77.0
45     Male                No   65.0   87.0
..      ...               ...    ...    ...
145  Female              Yes    62.0   69.0
146    Male              Yes    65.0   74.0
147  Female              Yes    70.0   79.0
148  Female              Yes    65.0   74.0
149  Female              Yes    60.0   73.0

[109 rows x 10 columns]
CIMBB
    school school_setting school_type classroom teaching_method student_id  \
150  CIMBB          Urban  Non-public       A33        Standard      0WW6N
151  CIMBB          Urban  Non-public       A33        Standard      5IKFU
152  CIMBB          Urban  Non-public       A33        Standard      7ODZ6
153  CIMBB          Urban  Non-public       A33        Standard      BD0UJ
154  CIMBB          Urban  Non-public       A33        Standard      F08JN
..     ...            ...         ...       ...             ...        ...
219  CIMBB          Urban  Non-public       PC6        Standard      M2OMY
220  CIMBB          Urban  Non-public       PC6        Standard      P0F2W
221  CIMBB          Urban  Non-public       PC6        Standard      U6C5U
222  CIMBB          Urban  Non-public       PC6        Standard      VQ6PP
223  CIMBB          Urban  Non-public       PC6        Standard      XJPON

     gender tuitionfee_waiver  test1  test2
150    Male                No   60.0   67.0
151    Male                No   62.0   70.0
152    Male                No   59.0   73.0
153    Male                No   62.0   72.0
154    Male                No   54.0   68.0
..      ...               ...    ...    ...
219    Male                No   68.0   78.0
220  Female                No   62.0   75.0
221  Female                No   71.0   80.0
222    Male                No   72.0   79.0
223    Male                No   64.0   74.0

[74 rows x 10 columns]
CUQAM
    school school_setting school_type classroom teaching_method student_id  \
224  CUQAM          Urban      Public       1Q1        Standard      14K8S
225  CUQAM          Urban      Public       1Q1        Standard      1V9FC
226  CUQAM          Urban      Public       1Q1        Standard      2NV1C
227  CUQAM          Urban      Public       1Q1        Standard      4TYX0
228  CUQAM          Urban      Public       1Q1        Standard      5HS69
..     ...            ...         ...       ...             ...        ...
326  CUQAM          Urban      Public       X6Z    Experimental      TT9MG
327  CUQAM          Urban      Public       X6Z    Experimental      UHE7N
328  CUQAM          Urban      Public       X6Z    Experimental      UM6YP
329  CUQAM          Urban      Public       X6Z    Experimental      X006R
330  CUQAM          Urban      Public       X6Z    Experimental      Y7KJM

     gender tuitionfee_waiver  test1  test2
224  Female                No   55.0   70.0
225    Male              Yes    55.0   67.0
226    Male                No   58.0   70.0
227  Female                No   60.0   67.0
228  Female                No   58.0   69.0
..      ...               ...    ...    ...
326    Male              Yes    48.0   66.0
327    Male                No   51.0   70.0
328  Female                No   56.0   70.0
329  Female                No   51.0   69.0
330  Female              Yes    49.0   67.0

[107 rows x 10 columns]
DNQDD
    school school_setting school_type classroom teaching_method student_id  \
331  DNQDD       Suburban      Public       2AP        Standard      1K0Q5
332  DNQDD       Suburban      Public       2AP        Standard      338XH
333  DNQDD       Suburban      Public       2AP        Standard      378BQ
334  DNQDD       Suburban      Public       2AP        Standard      3BGFW
335  DNQDD       Suburban      Public       2AP        Standard      4ZRL3
..     ...            ...         ...       ...             ...        ...
448  DNQDD       Suburban      Public       XXJ        Standard      SVLAT
449  DNQDD       Suburban      Public       XXJ        Standard      SZ7BS
450  DNQDD       Suburban      Public       XXJ        Standard      WLH9L
451  DNQDD       Suburban      Public       XXJ        Standard      Y2Z8M
452  DNQDD       Suburban      Public       XXJ        Standard      Z7PUC

     gender tuitionfee_waiver  test1  test2
331  Female                No   54.0   67.0
332  Female              Yes    50.0   64.0
333  Female                No   51.0   65.0
334  Female                No   53.0   70.0
335    Male                No   52.0   60.0
..      ...               ...    ...    ...
448  Female                No   62.0   68.0
449    Male              Yes    60.0   64.0
450    Male                No   67.0   75.0
451    Male                No   61.0   70.0
452  Female              Yes    58.0   68.0

[122 rows x 10 columns]
FBUMG
    school school_setting school_type classroom teaching_method student_id  \
453  FBUMG          Rural  Non-public       197    Experimental      25M8Y
454  FBUMG          Rural  Non-public       197    Experimental      3234W
455  FBUMG          Rural  Non-public       197    Experimental      3431D
456  FBUMG          Rural  Non-public       197    Experimental      A3RYU
457  FBUMG          Rural  Non-public       197    Experimental      ARW1X
458  FBUMG          Rural  Non-public       197    Experimental      BZ38P
459  FBUMG          Rural  Non-public       197    Experimental      FNZ5V
460  FBUMG          Rural  Non-public       197    Experimental      H4WWF
461  FBUMG          Rural  Non-public       197    Experimental      HDPCP
462  FBUMG          Rural  Non-public       197    Experimental      KJGKN
463  FBUMG          Rural  Non-public       197    Experimental      S56V4
464  FBUMG          Rural  Non-public       197    Experimental      VMM7O
465  FBUMG          Rural  Non-public       197    Experimental      Y9W00
466  FBUMG          Rural  Non-public       197    Experimental      Z5DTY
467  FBUMG          Rural  Non-public       5LQ    Experimental      04DG5
468  FBUMG          Rural  Non-public       5LQ    Experimental      20M2D
469  FBUMG          Rural  Non-public       5LQ    Experimental      39KCW
470  FBUMG          Rural  Non-public       5LQ    Experimental      5Z1B6
471  FBUMG          Rural  Non-public       5LQ    Experimental      6TLU8
472  FBUMG          Rural  Non-public       5LQ    Experimental      ATQQJ
473  FBUMG          Rural  Non-public       5LQ    Experimental      AYEU1
474  FBUMG          Rural  Non-public       5LQ    Experimental      B9FSU
475  FBUMG          Rural  Non-public       5LQ    Experimental      EV13K
476  FBUMG          Rural  Non-public       5LQ    Experimental      I5H37
477  FBUMG          Rural  Non-public       5LQ    Experimental      JC5I9
478  FBUMG          Rural  Non-public       5LQ    Experimental      JPE2J
479  FBUMG          Rural  Non-public       5LQ    Experimental      MFBYU
480  FBUMG          Rural  Non-public       5LQ    Experimental      O144X
481  FBUMG          Rural  Non-public       5LQ    Experimental      OGKP3
482  FBUMG          Rural  Non-public       5LQ    Experimental      UMFI7
483  FBUMG          Rural  Non-public       5LQ    Experimental      V1DNJ
484  FBUMG          Rural  Non-public       5LQ    Experimental      YRN9S
485  FBUMG          Rural  Non-public       JGD    Experimental      07R5Z
486  FBUMG          Rural  Non-public       JGD    Experimental      39K0Q
487  FBUMG          Rural  Non-public       JGD    Experimental      3BUJG
488  FBUMG          Rural  Non-public       JGD    Experimental      7PML3
489  FBUMG          Rural  Non-public       JGD    Experimental      8FLEP
490  FBUMG          Rural  Non-public       JGD    Experimental      95X1X
491  FBUMG          Rural  Non-public       JGD    Experimental      IW48S
492  FBUMG          Rural  Non-public       JGD    Experimental      K0K0N
493  FBUMG          Rural  Non-public       JGD    Experimental      NU48M
494  FBUMG          Rural  Non-public       JGD    Experimental      OE2B4
495  FBUMG          Rural  Non-public       JGD    Experimental      UUSTB
496  FBUMG          Rural  Non-public       JGD    Experimental      VK6OF
497  FBUMG          Rural  Non-public       JGD    Experimental      XK8M9
498  FBUMG          Rural  Non-public       JGD    Experimental      Y9GZZ

     gender tuitionfee_waiver  test1  test2
453    Male              Yes    53.0   68.0
454    Male                No   63.0   78.0
455    Male                No   67.0   79.0
456    Male                No   61.0   76.0
457    Male                No   57.0   76.0
458  Female                No   72.0   84.0
459  Female                No   65.0   78.0
460    Male              Yes    56.0   73.0
461  Female                No   64.0   77.0
462    Male                No   65.0   80.0
463    Male                No   65.0   79.0
464    Male                No   64.0   84.0
465  Female                No   62.0   81.0
466  Female                No   58.0   78.0
467  Female              Yes    63.0   84.0
468  Female              Yes    68.0   85.0
469    Male              Yes    66.0   81.0
470    Male                No   68.0   88.0
471  Female                No   66.0   81.0
472  Female                No   68.0   82.0
473    Male              Yes    68.0   79.0
474    Male                No   69.0   83.0
475  Female                No   66.0   83.0
476    Male              Yes    65.0   83.0
477    Male                No   58.0   80.0
478    Male                No   59.0   81.0
479  Female                No   73.0   82.0
480    Male                No   67.0   86.0
481    Male                No   72.0   83.0
482  Female              Yes    56.0   73.0
483    Male                No   61.0   76.0
484    Male                No   68.0   87.0
485    Male                No   57.0   79.0
486  Female                No   62.0   76.0
487    Male                No   58.0   68.0
488    Male              Yes    56.0   69.0
489  Female                No   64.0   76.0
490    Male              Yes    58.0   73.0
491    Male              Yes    63.0   78.0
492    Male                No   58.0   77.0
493  Female                No   61.0   77.0
494  Female                No   60.0   74.0
495    Male                No   55.0   72.0
496    Male                No   59.0   74.0
497  Female                No   64.0   80.0
498  Female                No   65.0   75.0
GJJHK
    school school_setting school_type classroom teaching_method student_id  \
499  GJJHK       Suburban      Public       HCB        Standard      34ANF
500  GJJHK       Suburban      Public       HCB        Standard      40S5U
501  GJJHK       Suburban      Public       HCB        Standard      4GUP5
502  GJJHK       Suburban      Public       HCB        Standard      7JBMI
503  GJJHK       Suburban      Public       HCB        Standard      7KY71
..     ...            ...         ...       ...             ...        ...
612  GJJHK       Suburban      Public       ZDT        Standard      U2EMB
613  GJJHK       Suburban      Public       ZDT        Standard      UKJAZ
614  GJJHK       Suburban      Public       ZDT        Standard      VKH07
615  GJJHK       Suburban      Public       ZDT        Standard      W5NUO
616  GJJHK       Suburban      Public       ZDT        Standard      XRD78

     gender tuitionfee_waiver  test1  test2
499  Female                No   47.0   61.0
500    Male              Yes    38.0   49.0
501    Male              Yes    47.0   60.0
502  Female              Yes    48.0   61.0
503  Female                No   46.0   58.0
..      ...               ...    ...    ...
612  Female              Yes    52.0   68.0
613    Male              Yes    49.0   65.0
614    Male              Yes    55.0   61.0
615    Male              Yes    52.0   66.0
616  Female              Yes    55.0   64.0

[118 rows x 10 columns]
GOKXL
    school school_setting school_type classroom teaching_method student_id  \
617  GOKXL          Rural      Public       ENO    Experimental      4KZTB
618  GOKXL          Rural      Public       ENO    Experimental      73OKF
619  GOKXL          Rural      Public       ENO    Experimental      7GLHH
620  GOKXL          Rural      Public       ENO    Experimental      7PFTS
621  GOKXL          Rural      Public       ENO    Experimental      86R4S
..     ...            ...         ...       ...             ...        ...
676  GOKXL          Rural      Public       VA6        Standard      RTKNR
677  GOKXL          Rural      Public       VA6        Standard      TME5H
678  GOKXL          Rural      Public       VA6        Standard      WUYJ3
679  GOKXL          Rural      Public       VA6        Standard      YT5M3
680  GOKXL          Rural      Public       VA6        Standard      Z2T0F

     gender tuitionfee_waiver  test1  test2
617  Female              Yes    50.0   72.0
618  Female              Yes    57.0   70.0
619    Male              Yes    58.0   70.0
620    Male                No   61.0   72.0
621  Female                No   60.0   70.0
..      ...               ...    ...    ...
676    Male              Yes    39.0   48.0
677  Female              Yes    43.0   53.0
678  Female                No   45.0   57.0
679    Male              Yes    45.0   53.0
680    Male              Yes    36.0   51.0

[64 rows x 10 columns]
GOOBU
    school school_setting school_type classroom teaching_method student_id  \
681  GOOBU          Urban      Public       18K        Standard      0KZS6
682  GOOBU          Urban      Public       18K        Standard      3XNVR
683  GOOBU          Urban      Public       18K        Standard      4MTC1
684  GOOBU          Urban      Public       18K        Standard      7QOXV
685  GOOBU          Urban      Public       18K        Standard      AQCB5
..     ...            ...         ...       ...             ...        ...
834  GOOBU          Urban      Public       W8A    Experimental      QQJEC
835  GOOBU          Urban      Public       W8A    Experimental      RDNR9

C:\Users\Ragul\AppData\Local\Temp\ipykernel_5116\3181955234.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for x,y in data2:

In [20]:
data.groupby(by='school')['test1'].mean()

school
ANKYI    61.341463
CCAAW    64.623853
CIMBB    65.067568
CUQAM    53.925234
DNQDD    54.327869
FBUMG    62.891304
GJJHK    53.194915
GOKXL    50.796875
GOOBU    38.354190
IDGFP    75.202128
KFZMY    41.865385
KZKKE    37.261261
LAYPA    62.035088
OJOBU    56.197531
QOQTS    52.543369
UAGPU    62.390805
UKPGS    78.453125
UUUQX    67.106690
VHDHF    52.666667
VKWQH    52.060000
VVTVA    36.122473
ZMNYA    68.130435
ZOWMK    41.572650
Name: test1, dtype: float64

Conclusion - The average of test1 scores of students at each scools is displayed.The school with highest average test1 score is 'UKPGS'

## Task 5

In [21]:
piv = pd.pivot_table(data,index=['school'],values=['test2'],aggfunc='sum')
piv

          test2
school
ANKYI    2927.0
CCAAW    8514.0
CIMBB    5694.0
CUQAM    7015.0
DNQDD    8121.0
FBUMG    3616.0
GJJHK    7673.0
GOKXL    4157.0
GOOBU    7862.0
IDGFP    8199.0
KFZMY    2838.0
KZKKE    5319.0
LAYPA    4188.0
OJOBU    5493.0
QOQTS    9636.0
UAGPU    6253.0
UKPGS   11649.0
UUUQX    6658.0
VHDHF    3409.0
VKWQH    6482.0
VVTVA    5628.0
ZMNYA    5631.0
ZOWMK    6190.0

In [22]:
sort = piv.sort_values('test2', ascending=False)

In [23]:
sort

          test2
school
UKPGS   11649.0
QOQTS    9636.0
CCAAW    8514.0
IDGFP    8199.0
DNQDD    8121.0
GOOBU    7862.0
GJJHK    7673.0
CUQAM    7015.0
UUUQX    6658.0
VKWQH    6482.0
UAGPU    6253.0
ZOWMK    6190.0
CIMBB    5694.0
ZMNYA    5631.0
VVTVA    5628.0
OJOBU    5493.0
KZKKE    5319.0
LAYPA    4188.0
GOKXL    4157.0
FBUMG    3616.0
VHDHF    3409.0
ANKYI    2927.0
KFZMY    2838.0

In [24]:
sort.head()

          test2
school
UKPGS   11649.0
QOQTS    9636.0
CCAAW    8514.0
IDGFP    8199.0
DNQDD    8121.0

Conclusion - The top 5 schools which have highest test2 scores .

## Task 6

In [25]:
sco=(data.school == "FBUMG") & (data.classroom =="5LQ") & (data.test2 > 80.0)

In [27]:
scolorship=pd.DataFrame(sco)

In [28]:
scolorship

          0
0     False
1     False
2     False
3     False
4     False
...     ...
2128  False
2129  False
2130  False
2131  False
2132  False

[2133 rows x 1 columns]

In [29]:
data=pd.concat([data,sco],axis=1)

In [30]:
data

,school,school_setting,school_type,classroom,teaching_method,student_id,gender,tuitionfee_waiver,test1,test2,0
0,ANKYI,Urban,Non-public,6OL,Standard,2FHT3,Female,No,62.0,72.0,False
1,ANKYI,Urban,Non-public,6OL,Standard,3JIVH,Female,No,66.0,79.0,False
2,ANKYI,Urban,Non-public,6OL,Standard,3XOWE,Male,No,64.0,76.0,False
3,ANKYI,Urban,Non-public,6OL,Standard,556O0,Female,No,61.0,77.0,False
4,ANKYI,Urban,Non-public,6OL,Standard,74LOE,Male,No,64.0,76.0,False
...,...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,T8LSK,Female,No,39.0,55.0,False
2129,ZOWMK,Urban,Public,ZBH,Standard,VNP26,Female,Yes,38.0,46.0,False
2130,ZOWMK,Urban,Public,ZBH,Standard,YDR1Z,Female,Yes,45.0,51.0,False
2131,ZOWMK,Urban,Public,ZBH,Standard,YUEIH,Male,Yes,46.0,53.0,False
2132,ZOWMK,Urban,Public,ZBH,Standard,ZVCQ8,Male,Yes,41.0,48.0,False

Conclusion - Added a new column and assigned scholorship for the filter school == "FBUMG",classroom =="5LQ" and test2 > 80.0.

## Task 7

In [31]:
pd.crosstab(data.school_setting,data.teaching_method)

teaching_method  Experimental  Standard
school_setting
Rural                     201       309
Suburban                  284       433
Urban                     275       631

Conclusion - The count of each type of teaching_method in different school_settings is showed

## Task 8

In [32]:
data.groupby(by=['school_setting','gender'])['school_setting'].count()

school_setting  gender
Rural           Female    228
                Male      282
Suburban        Female    368
                Male      349
Urban           Female    456
                Male      450
Name: school_setting, dtype: int64

Conclusion - The count of Male and Female in different school_settings is displayed.

## Task 9

In [33]:
piv2 = pd.pivot_table(data,index=['school_setting','gender'],values=['test2'],aggfunc='mean')

In [34]:
piv2

                           test2
school_setting gender
Rural          Female  63.991228
               Male    64.092199
Suburban       Female  76.027174
               Male    75.991404
Urban          Female  61.179825
               Male    62.424444

Conclusion - The average of test2 scores of Male and Female in different school-settings is shown.